################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Catharsium.Words/v17
/Catharsium.WordCloud/bin/Debug/net6.0
/Catharsium.WordCloud/obj
/Catharsium.WordCloud.Tests/obj
/Catharsium.WordDistance/bin/Debug/net6.0
/Catharsium.WordDistance/obj
/Catharsium.WordDistance.Tests/obj
/Catharsium.Words.Terminal/obj
/Catharsium.Words.Terminal.Tests/obj
/Catharsium.WordCloud.Tests/bin/Debug/net6.0
/Catharsium.WordDistance.Tests/bin/Debug/net6.0
/Catharsium.Words.Terminal/bin/Debug/net6.0
/Catharsium.Words.Terminal.Tests/bin/Debug/net6.0
